
body {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 130px;
    background:transparent;
    border:none;
    padding: 0px;
    cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100vh; /* Full viewport height */
}

.choices {
    position: absolute;
    top:65%;
    left:8%;
    align-items: center;
}

.left {
    text-align: center;
}

.reset-button{
    width:100px;
    position: absolute;
    left:21.5%;
    top: 88%;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: black;
    font-size: bold;
    cursor: pointer;
}

.name {
    font-weight: bold;
    font-size: larger;
}

.generated-pictures {
    margin: 10px;
}

.result {
    margin-top: 20px;
}

.js-result {
    margin-bottom: 20px;
}
.js-scoreboard {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}


.js-rock-button,.js-scissors-button,.js-paper-button {
    border:none;
    background:transparent;
    outline: none;
}

table,th,td {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

th,td {
    padding: 8px
}

td {
    text-align: center;
}

th:nth-child(1), td:nth-child(1) { 
    width: 100px; /* Adjust the width of the first column */
}

th:nth-child(2), td:nth-child(2) { 
    width: 500px; /* Adjust the width of the second column */
}

th:nth-child(3), td:nth-child(3) { 
    width: 120px; /* Adjust the width of the third column */
}

th:nth-child(4), td:nth-child(4) { 
    width: 120px; /* Adjust the width of the fourth column */
}

th:nth-child(5), td:nth-child(5) { 
    width: 80px; /* Adjust the width of the last column */
}

.reset-button {
    height: 50px;
}